
<a href="{% url 'list' %}"> home </a>|
<a href="{% url 'delete' product.id %}"> delete </a>| 
<a href="{% url 'modify' product.id %}"> modify </a>
<br>
{% if product.image %}
    <img src="{{ product.image.url }}" height=300px>
{% endif %}
<h1>{{ product.title }}</h1>
<div> {{ product.desc }} </div>


<h2> Comments: </h2>
<ul style="list-style: none;"style="list-style: none;">
{% for comment in comments %}
    <li>  [{{comment.created}}] &nbsp;&nbsp;&nbsp; {{ comment.desc }}   
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if comment.id == pk %}
                —— editing
            {% endif %}
    </li>
{% endfor %}
<br> 
</ul>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>